.header-search-wrapper .button-voice.incompatible{
    display: none !important;
}
.header-search-wrapper .button-voice{
    position: absolute;
    width: 30px;
    height: 100%;
    top: 0;
    right: 50px;
    font-size: 20px;
    color: var(--color_header_highlight);
    background-color: transparent;
    z-index: 1;
}
.header-search-wrapper .button-voice > span.open{
    font-variation-settings:
    'FILL' 1
}