.header-search-wrapper .button-voice{
    position: absolute;
    width: 58px;
    height: 100%;
    top: 0;
    right: 30px;
    font-size: 20px;
    color: var(--color_header_highlight);
    background-color: transparent;
}